$breakpoints: (
    "xs":0,
    "sm":480px,
    "md":720px,
    "lg":960px,
    "xl":1200px,
);

@mixin xs {
    @media (min-width:map-get( $breakpoints,"xs")) {
        @content;
    }
}
@mixin sm {
    @media (min-width:map-get( $breakpoints,"sm")) {
        @content;
    }
}
@mixin md {
    @media (min-width:map-get( $breakpoints,"md")) {
        @content;
    }
}
@mixin lg {
    @media (min-width:map-get( $breakpoints,"lg")) {
        @content;
    }
}
@mixin xl {
    @media (min-width:map-get( $breakpoints,"xl")) {
        @content;
    }
}
@mixin breakpoint($bp:0) {
    @media (min-width:$bp) {
        @content;
    }
}
.responsive-test {
    @include xs{
        color: #a9cb4e;
        background-color: #EBD671;
    }
    @include sm{
        color: $info;
        background-color: $secondary;
    }
    @include md{
        color: $secondary;
        background-color: #cbd882;
    }
    @include lg{
        color: purple;
        background-color: #B8FFF9;
    }
    @include xl{
        color:#1B1A17;
        background-color: $secondary;
    }
    @include breakpoint(1400px){
        color: #FAFDD6;
    }
}

